
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1><img src="https://www.europcar.se/files/live/sites/Europcar/files/Meganav/NEW-Logo-size%20fit%20for%20header.png" alt="Europcar Biluthyrning" /></h1>
        <p </p>
        <p></p>
    </div>


                <div class="row">
                    <div class="col-md-4">
                        <h2>GARAGE</h2>
                        <p>
                            
                        </p>
                        <p></p>
                    </div>
                    <div class="col-md-4">
                        <h2></h2>
                        <p></p>
                        <p></p>
                    </div>
                    <div class="col-md-4">
                        <h2></h2>
                        <p></p>
                        <p></p>
                    </div>
                </div>
